<div class="container">
    <div class="row">
        <div class="col-md-6">

        </div>

        <div class="col-md-6">

        </div>
    </div>

</div>

<!--Jumbotrom-->
<div class="jumbotron jumbotron-fluid mb-0">
    <div class="container">
      <h1 class="display-4">Fluid jumbotron</h1>
      <p class="lead">Este é um jumbotron modificado que ocupa todo o espaço horizontal de seu elemento pai.</p>
    </div>
</div>
<!--/Jumbotrom-->

<section class="pt-5 pb-5 bg-light">
  <div class="container">
      <div class="row">
          <div class="col-6">
              <h3 class="mb-3">Confira nosso incrível time!</h3>
          </div>

          <div class="col-6 text-right">
              <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                  <span><</span>
              </a>
              <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                  <span>></span>
              </a>
          </div>
          <div class="col-12">
              <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                  <div class="carousel-inner">
                      <div class="carousel-item active">
                          <div class="row">

                              <div class="col-md-4 mb-3">

                                  <div class="card">
                                      <img class="card-img-top "
                                          src="https://img.ibxk.com.br/2011/12/materias/59323772727104943.jpg?w=328"
                                          alt="Card image cap">
                                      <div class="card-body">
                                          <h5 class="card-title">Guilherme</h5>
                                          <p class="card-text">Some quick example text to build on the card title and
                                              make up the bulk of the card's content.</p>
                                              <a href="#" class="btn btn-dark">GitHub</a>
                                              <a href="#" class="btn btn-info ml-3">LinkedIn</a>

                                      </div>
                                  </div>

                              </div>

                              <div class="col-md-4 mb-3">

                                  <div class="card">
                                      <img class="card-img-top "
                                          src="https://img.ibxk.com.br/2011/12/materias/59323772727104943.jpg?w=328"
                                          alt="Card image cap">
                                      <div class="card-body">
                                          <h5 class="card-title">Gisele</h5>
                                          <p class="card-text">Some quick example text to build on the card title and
                                              make up the bulk of the card's content.</p>
                                              <a href="#" class="btn btn-dark">GitHub</a>
                                              <a href="#" class="btn btn-info ml-3">LinkedIn</a>

                                      </div>
                                  </div>

                              </div>


                              <div class="col-md-4 mb-3">

                                  <div class="card">
                                      <img class="card-img-top "
                                          src="https://img.ibxk.com.br/2011/12/materias/59323772727104943.jpg?w=328"
                                          alt="Card image cap">
                                      <div class="card-body">
                                          <h5 class="card-title">Israel</h5>
                                          <p class="card-text">Some quick example text to build on the card title and
                                              make up the bulk of the card's content.</p>
                                              <a href="#" class="btn btn-dark">GitHub</a>
                                              <a href="#" class="btn btn-info ml-3">LinkedIn</a>

                                      </div>
                                  </div>

                              </div>

                          </div>

                      </div>

                      <div class="carousel-item">
                          <div class="row">

                              <div class="col-md-4 mb-3">

                                  <div class="card">
                                      <img class="card-img-top "
                                          src="https://img.ibxk.com.br/2011/12/materias/59323772727104943.jpg?w=328"
                                          alt="Card image cap">
                                      <div class="card-body">
                                          <h5 class="card-title">Fernanda</h5>
                                          <p class="card-text">Some quick example text to build on the card title and
                                              make up the bulk of the card's content.</p>
                                              <a href="#" class="btn btn-dark">GitHub</a>
                                              <a href="#" class="btn btn-info ml-3">LinkedIn</a>

                                      </div>
                                  </div>

                              </div>

                              <div class="col-md-4 mb-3">

                                  <div class="card">
                                      <img class="card-img-top "
                                          src="https://img.ibxk.com.br/2011/12/materias/59323772727104943.jpg?w=328"
                                          alt="Card image cap">
                                      <div class="card-body">
                                          <h5 class="card-title">Eduardo</h5>
                                          <p class="card-text">Some quick example text to build on the card title and
                                              make up the bulk of the card's content.</p>
                                              <a href="#" class="btn btn-dark">GitHub</a>
                                              <a href="#" class="btn btn-info ml-3">LinkedIn</a>

                                      </div>
                                  </div>

                              </div>

                              <div class="col-md-4 mb-3">

                                  <div class="card">
                                      <img class="card-img-top "
                                          src="https://img.ibxk.com.br/2011/12/materias/59323772727104943.jpg?w=328"
                                          alt="Card image cap">
                                      <div class="card-body">
                                          <h5 class="card-title">Nicolas</h5>
                                          <p class="card-text">Some quick example text to build on the card title and
                                              make up the bulk of the card's content.</p>
                                              <a href="#" class="btn btn-dark">GitHub</a>
                                              <a href="#" class="btn btn-info ml-3">LinkedIn</a>

                                      </div>
                                  </div>

                              </div>

                          </div>

                      </div>

                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

  