<div class="container-fluid w-100">

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center mb-5">Sejam bem vindes ao mundo Wabis!</h1>
        </div>
    </div>



    <div class="jumbotron jumbotron-fluid mb-0 w-100 bg-jumbo">

        <h1 class="display-5 mb-4 text-center">O que você encontra no Wabis:</h1>

        <div class="row d-flex justify-content-center ">

            <!--Card-->
            <div class="card bg-jumbo m-4 " style="width: 18rem; border: none!important;">
                <img src="\assets\icons\avaliacao.png"
                    class="card-img-top  w-75 rounded mx-auto d-block" alt="...">
                <div class="card-body b-0 ">
                   
                </div>
            </div>
            <!--;Card-->

            <!--Card-->
            <div class="card bg-jumbo m-4" style="width: 18rem; border: none!important;">
                <img src="\assets\icons\feedback.png"
                    class="card-img-top w-75 rounded mx-auto d-block" alt="...">
                <div class="card-body b-0">
                    
                </div>
            </div>

            <!--Card-->
            <div class="card bg-jumbo m-4" style="width: 18rem; border: none!important;">
                <img src="\assets\icons\empresa.png"
                    class="card-img-top w-75 rounded mx-auto d-block" alt="...">
                <div class="card-body b-0">
                   
                </div>
            </div>

            <div class="col-md-12 w-100 d-flex justify-content-center">
                <button class="btn btn-outline-dark text-uppercase font-weight-bold"
                    routerLink='/cadastro'>Cadastre-se</button>
            </div>

        </div>


    </div>
    <!--Depoimentos-->
    <div class="row m-5">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top "
                    src="https://t3.ftcdn.net/jpg/01/41/80/82/240_F_141808228_2Ww5avhtfRbhqNt4rkqO2k8dom52AbD2.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Beatriz</h5>
                    <p class="card-text">Graças ao sistema Wabis encontrei um lugar que atendesse minha necessidade.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top "
                    src="https://t4.ftcdn.net/jpg/03/83/18/53/240_F_383185341_Ut2N8z2HwAmHjpaWztj5BwkNECAuR8nl.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Andreza</h5>
                    <p class="card-text">Sou muito grata a Wabis por ter feito eu encontrar meu primeiroemprego.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top "
                    src="https://t3.ftcdn.net/jpg/03/83/18/90/240_F_383189037_fwfTpqO2pQwjX4P66du4cQTLhFholzuG.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Kaori </h5>
                    <p class="card-text">A comunidade foi muito importante para eu me preparar para a entrev.</p>
                </div>
            </div>
        </div>



    </div>
    <!--/Depoimentos-->

    <div class="jumbotron jumbotron-fluid mb-0 w-100 bg-light p-5">

        <h1 class="display-4">Família Wabis</h1>

        <p class="lead">Conheça a nossa família, que desenvolveu essa aplicação com muito carinho e uma pitada
            de
            ódio
            rss</p>

        <div class="row d-flex">

            <div>
                <p class="text-monospace ">
                    Aqui nós priorizamos o ambiente seguro
                    : Lutando para tornar o mercado de trabalho mais inclusivo, a rede social “Wabis" surge para
                    conectar
                    profissionais com deficiência. O nosso objetivo é não só dar a voz e espaço para que eles avaliem
                    empresas que já trabalharam e troquem relatos de experiências, mas também desenvolver uma cultura
                    inclusiva e fazer parte de um movimento de adaptação do mercado, através de feedbacks, reduzindo a
                    desigualdade e auxiliando na geração trabalho decente e desenvolvimento econômico.
                </p>
            </div>
            <div class="col-md-12 w-100 d-flex justify-content-center">
                <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/sobrenos'>Conheça
                    nosso time</button>
            </div>

        </div>




    </div>








    <!--Parallax-
<div class="parallax"></div>
-/Parallax-->

    <!-- <div class="jumbotron jumbotron-fluid mb-0 bg-light">
        <div class="row w-100 mt-4 mb-4">

            <div class="col-md-12 p-5">

                <h1 class="display-4">Família Wabis</h1>

                <p class="lead">Conheça a nossa família, que desenvolveu essa aplicação com muito carinho e uma pitada
                    de
                    ódio
                    rss</p>

                <p class="text-justify text-monospace">
                    Aqui nós priorizamos o ambiente seguro
                    : Lutando para tornar o mercado de trabalho mais inclusivo, a rede social “Wabis" surge para
                    conectar
                    profissionais com deficiência. O nosso objetivo é não só dar a voz e espaço para que eles avaliem
                    empresas que já trabalharam e troquem relatos de experiências, mas também desenvolver uma cultura
                    inclusiva e fazer parte de um movimento de adaptação do mercado, através de feedbacks, reduzindo a
                    desigualdade e auxiliando na geração trabalho decente e desenvolvimento econômico.
                </p>


                <div class="col-md-12 w-100 d-flex justify-content-center">
                    <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/sobrenos'>Conheça
                        nosso time</button>
                </div>

            </div>
        </div>
    </div> -->

</div>