<div class="container w-100 text-monospace">

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Sejam bem vindes ao mundo Wabis!</h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Aqui nós priorizamos o ambiente seguro
                : Lutando para tornar o mercado de trabalho mais inclusivo, a rede social “Wabis" surge para conectar
                profissionais com deficiência. O nosso objetivo é não só dar a voz e espaço para que eles avaliem
                empresas que já trabalharam e troquem relatos de experiências, mas também desenvolver uma cultura
                inclusiva e fazer parte de um movimento de adaptação do mercado, através de feedbacks, reduzindo a
                desigualdade e auxiliando na geração trabalho decente e desenvolvimento econômico.
            </p>
        </div>
    </div>


    <div class="row mt-5 mb-5 w-100">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold"
                routerLink='/cadastro'>Cadastre-se</button>
        </div>
    </div>

</div>
    

<!--Parallax-->
<div class="parallax"></div>
<!--/Parallax-->

<div class="jumbotron jumbotron-fluid mb-0 bg-light">
    <div class="container text-monospace">
        <h1 class="display-4">Família Wabis</h1>
        <p class="lead">Conheça a nossa família, que desenvolveu essa aplicação com muito carinho e uma pitada de ódio rss</p>

        <div class="row mt-5 mb-2 w-100">
            <div class="col-md-12 w-100 d-flex justify-content-center">
                <button class="btn btn-outline-dark text-uppercase font-weight-bold"
                    routerLink='/sobrenos'>Conheça nosso time</button>
            </div>
        </div>

    </div>
</div>