.parallax{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnk9GW0FjJWmMiBMO3KBqXk7X5uYEIxdVc-Q&usqp=CAU');

    min-height: 300px;
    background-attachment: fixed;
    background-position: 'center';
    background-repeat: no-repeat;    
    background-size: cover; 
}

.bg-jumbo{
    background-color: #C1E0DC;
}

.tm-icon {    width: 160px;
    height: 160px;
}

.tm-icon-2 {    width: 120px;
    height: 120px;
}


