<div >
    <div class="container w-100">

        <div class="row w-100 mt-5">
            <div class="col-md-12">
                <h1 class="text-monospace text-center">Sejam bem vindes ao Wabis!</h1>
            </div>
        </div>

        <div class="row w-100 mt-4 mb-4">
            <div class="col-md-12">
                <p class="text-justify text-monospace">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi id suscipit neque pariatur
                    exercitationem
                    voluptas ullam officia ipsum, deleniti consequatur deserunt aliquid, cupiditate similique tenetur
                    doloremque debitis quasi, numquam esse.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, neque cupiditate aspernatur
                    explicabo
                    autem error, veritatis quasi reiciendis earum quis magni ad maiores voluptas cumque repellendus
                    commodi
                    laborum! Laborum, quae.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, necessitatibus praesentium! Suscipit
                    beatae quae velit perferendis, similique animi unde ipsam qui commodi veritatis, quidem quo
                    incidunt,
                    voluptatem a culpa dolores?
                </p>
            </div>
        </div>




        <div class="row mt-5 mb-5 w-100">
            <div class="col-md-12 w-100 d-flex justify-content-center">
                <button class="btn btn-outline-dark text-uppercase font-weight-bold"
                    routerLink='/sobrenos'>Conheça-nos</button>
            </div>
        </div>

    </div>
</div>
<!--Jumbotron-->
<div class="jumbotron jumbotron-fluid ">
    <div class="container">
        <h1 class="display-4">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>

<!--/Jumbotron-->