<!-- Footer -->
<footer class="page-footer font-small pt-2 text-monospace" style="background-color: #1B4241;" >

  <!-- Footer Elements -->
  <div class="container mb-0" >

    <!-- Call to action -->
    <div class="row d-flex " >
      <div class="col-md-12 d-flex justify-content-center" >
        <h4 class="text-light mb-0">Projeto no Github:</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">

        <ul class="social-network mb-0">
          <li>
            <a href="https://github.com/ProjetoIntegradorGrupo1" target="_blank" class="icoGithub" title="Github">
              <fa-icon [icon]="faGithub" class="faGithub fa-3x p-0"></fa-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Call to action -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center pt-0 pb-2" style="background-color: #1B4241;">
    <span class="text-light"> © 2020 Copyright: </span>
    <a class="text-light mb-2" href="https://brasil.generation.org">brasil.generation.org</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->