<!-- Footer -->
<footer class="page-footer font-small callToActionColorBg pt-4">

    <!-- Footer Elements -->
    <div class="container mb-0 callToActionColorBg">
  
      <!-- Call to action -->
      <div class="row ">
        <div class="col-md-12 d-flex justify-content-center">
          <h4 class="text-light">Projeto no Github:</h4>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
  
              <ul class="social-network">
                    <li>
                        <a href="https://github.com/ProjetoIntegradorGrupo1" target="_blank" class="icoGithub" title="Github">
                            <fa-icon [icon]="faGithub" class="faGithub fa-3x p-3"></fa-icon>
                        </a>
                    </li>
              </ul>
      </div>
      </div>
  
      <!-- Call to action -->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 copyringColorBg ">
        <span class="text-light"> © 2020 Copyright: </span>
        <a class="text-light" href="https://brasil.generation.org">brasil.generation.org</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

